.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 500px;
  width: 400px !important;
  text-align: center;
}

.card-image img {
  object-fit: cover;
  height: 300px !important;
}

.card-content {
  padding: 15px;
}

.card-content p {
  margin: 0;
  font-size: 1.3rem;
  color: #333;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-content a {
  font-size: large;
  color: black;
  font-weight: bold;
}

.link_text {
  font-size: 1.7rem;
  color: black;
  font-weight: bold;
}